:host {
  .geolocation-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    position: relative;
    gap: 15px;
    padding: 25px 0;

    &__left {
      width: 30%;
    }

    &__right {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      app-map-location {
        width: 60%;
        height: 355px;
      }

      app-user-location {
        width: calc(40% - 15px);
      }

      app-search-box {
        width: 100%;
        padding-top: 25px;
      }
    }

    .loading-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($color: #fff, $alpha: 0.5);
    }
  }
}
