<div class="container">
  <div class="geolocation-wrapper">
    <div class="geolocation-wrapper__left">
      <app-all-searches></app-all-searches>
    </div>
    <div class="geolocation-wrapper__right">
      <app-map-location
        [latitude]="(location$ | async)?.latitude!"
        [longitude]="(location$ | async)?.longitude!"
      ></app-map-location>

      <app-user-location [location]="(location$ | async)!"></app-user-location>

      <app-search-box (searchChanged)="location$.next($event)"></app-search-box>

      <app-map-location
        [isForHistory]="true"
        [latitude]="(previousLocation$ | async)?.latitude!"
        [longitude]="(previousLocation$ | async)?.longitude!"
      ></app-map-location>

      <app-user-location
        [location]="(previousLocation$ | async)!"
      ></app-user-location>
    </div>
  </div>
</div>

<router-outlet />
